<%= @game.state.to_json %>

<div class="row text-center">
    <% if @game.won? %>
        <h3>You've won, the correct word was <strong><%= @guess %></strong></h3>
        <a href='/' class="button">play again</a>
        <% elsif @game.finished? %>
        <h3>You've lost, the correct word was <strong><%= @game.state.target_word %></strong></h3>
        <a href='/' class="button">play again</a>
    <% else %>
</div>

<div class="row">
    <div >
        <%= form_with(url: url_for(action: "guess", controller: 'game'), method: "post", data: {turbo: false}, :class => "input-group" ) do |form| %>
            <%= form.label :guess, "Your Guess:", :class => "input-group-label" %>
            <%= form.text_field :guess, {:class => "input-group-field", :type => "text" } %>
            <%= form.hidden_field :state, value: @state %>
            <div class="input-group-button">
                <%= form.submit "Submit", {:class => "button", :value => "submit"} %>
            </div>
        <% end %>
    </div>
</div>

<% case @error %>
    <% when Game::IncorrectWord %>
    <h1>
        <% @error.outcome.each_with_index do |score, index|  %>
            <% case score %>
                <% when 0 %>
                <span style="color: red"><%= @guess[index] %></span>
                <% when 1 %>
                <span style="color: orange"><%= @guess[index] %></span>
                <% when 2 %>
                <span style="color: green"><%= @guess[index] %></span>
            <% end %>
        <% end %>
    </h1>
    <% else %>
        <%= @error %>
<% end %>

<% end %>
