<% if @game.won? %>
    <h1>You've won, the correct word was <%= @guess %></h1>
    <a href='/'>play again</a>
<% else %>

<%= form_with(url: url_for(action: "guess", controller: 'game'), method: "post", data: {turbo: false} ) do |form| %>
    <%= form.label :guess, "Your Guess:" %>
    <%= form.text_field :guess %>
    <%= form.hidden_field :state, value: @state %>
    <%= form.submit "Submit" %>
<% end %>

<% case @error %>
    <% when Game::IncorrectWord %>
    <h1>
        <% @error.outcome.each_with_index do |score, index|  %>
            <% case score %>
                <% when 0 %>
                <span style="color: red"><%= @guess[index] %></span>
                <% when 1 %>
                <span style="color: orange"><%= @guess[index] %></span>
                <% when 2 %>
                <span style="color: green"><%= @guess[index] %></span>
            <% end %>
        <% end %>
    </h1>
        <%= @error.outcome %>
    <% else %>
        <%= @error %>
<% end %>

<% end %>

